@font-face {
    font-family: 'Kohinoor Bangla';
    src: url('KohinoorBangla-Light.woff2') format('woff2'),
         url('KohinoorBangla-Light.woff') format('woff'),
         url('KohinoorBangla-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kohinoor Bangla';
    src: url('KohinoorBangla-Regular.woff2') format('woff2'),
         url('KohinoorBangla-Regular.woff') format('woff'),
         url('KohinoorBangla-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kohinoor Bangla';
    src: url('KohinoorBangla-Medium.woff2') format('woff2'),
         url('KohinoorBangla-Medium.woff') format('woff'),
         url('KohinoorBangla-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kohinoor Bangla';
    src: url('KohinoorBangla-Bold.woff2') format('woff2'),
         url('KohinoorBangla-Bold.woff') format('woff'),
         url('KohinoorBangla-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
